.index .nav,.list .nav,.second .nav{
	height: 96px; 
	border: 2px #ccc solid ;
	border-left: 0;
	border-right: 0;
	text-align: center;
	background-color: #FFFFFF;
	}
.index .nav .nav-box,.list .nav .nav-box,.second .nav .nav-box{
	width: 1100px;
	letter-spacing: -6px;
}
.index .nav .nav-box img,.second .nav .nav-box img,.list  .nav .nav-box img{
    margin: 10px 0px 0px 60px;
    float: left;
}
.index .nav a,.second .nav a,.list .nav a{
	display: inline-block;
    width: 106px;
	font: bold 25px/92px "youyuan";
	margin: 0px 47px;      /*鍙槸涓轰簡浣夸笅鍒掔嚎杈惧埌璁捐绋跨殑闀垮害*/
	letter-spacing: 0px;
}
.index .nav a:hover,.second .nav a:hover,.list .nav a:hover{
	color: #f90;
	border-bottom: #f90 3px solid;
	}
.index .main1{
	height: 504px;
	background: url(../img/background.jpg) no-repeat 0 0 /100% auto;
	min-width: 1100px;
}
.index .main2{
	width: 1100px;
	padding:40px 0px 72px;
}
.index .submain2 {
	   width:50%;
       float: left;
       font:bold 17.67px/22.83px simsun;
	   text-align: left;
	   background-color: #fff;
	   color: #666;
}	
.index .imag1{
	background: url(../img/icon.png) no-repeat -78px -42px;
	height: 130px;
}
.index .imag2{
	background: url(../img/logo2.png) no-repeat 52px -15px;
	height: 130px;
}

.index .pa1{
	border-right:solid 3px #f90;
	text-indent: 2em;
	padding: 0px 22px;
}
.index .pa2{
	text-indent: 2em;
	padding: 0px 22px;
}
.index .pa2 a{
	color: #666;
}
.index .pa2 a:hover{
	color: #00f;
}
.index .pa2 .date{
	text-align: right;
}
.index .main2:after{
	content: ".";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}
.list .main3, .index .main3{
	text-align: left;
	background-color: #CCCCCC;
	padding:10px 0px 90px;
}
.list .main3-box{
	width: 1054px;
}
.index .main3-box{
	width: 1100px;
}
.index .imag3{
	background: url(../img/logo3.png) no-repeat 0 0;
	height: 120px; 
}
.list .main3-box, .index .main3-box ul{
	padding: 0px 23px;
}
.index .column1 .extend{
	clear: both;
}
.list .main3-box a:hover,.index .column1 a:hover{
	color: #f90;
}
.list .main3-box li,.index .main3-box li {
	font: 27px/34px "YouYuan";
	margin-left: 45px;
}
.list .content, .index .content{
	width: 219px;
	background-color: #FFFFFF;
	margin: 10px 22px 27px;
	float: left;
}
.list .main3-box:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0px;
}
.list .content .works-imag, .index .content .works-imag{
	width: 219px;
	height: 140px;
}
.list .content .works-imag a img, .index .content .works-imag a img{
	width: 100%;
	min-height: 140px;
	}
.list.discription,  .index .discription{
	font-family: tahoma,arial,\5FAE\8F6F\96C5\9ED1;
	padding-top: 3px;
}
.list .sub-discription,  .index .sub-discription{
	padding:2px 10px 10px;
}
.list .author-photo, .index .author-photo{ 
		float: left;
		width: 30px;
		height: 30px;
		margin:6px 10px 0 0;
}
.list .author-photo img, .index .author-photo img{
	width:100%;
	min-height: 30px;
	}
.list .title a, .index .title a{
	font-size: 16px;
	line-height: 18px;
	padding: 10px 10px 5px;
	color: #666666;
}
.list .property, .index .property{
	padding: 0 10px;
	font-size: 14px;
	color: #999;
}
.list .author-name a, .index .author-name a{
	font-size: 12px;
	line-height: 1.5em;
	color: #5ac6ea;
}
.list .sub-discription .date, .index .sub-discription .date{
	font-size: 12px;
	color: #666666;
	line-height: 1.5em;
}
.index .extend{
	font:bold 27px/34px "youyuan";
	text-align: right;
}
