
body{
	text-align: center;
	width: 100%；
}
#nav{
	height: 96px; 
	border: 2px #ccc solid ;
	border-left: 0;
	border-right: 0;
}
#nav .nav-box{
	width: 1100px;
}
#nav .nav-box a img{
	float: left;
    margin: 10px 0px 0px 60px;
}
#nav li{
	display: inline-block;
    width: 106px;
	font: bold 25px/92px "幼圆";
	margin: 0px 47px;      /*只是为了使下划线达到设计稿的长度*/
}
#nav li a:hover{
	color: #f90;
	}
#nav li:hover{	
	border-bottom: #f90 3px solid;
	
	}
.main1{
	height: 542px;
	background: url(../img/background.jpg) no-repeat 0 0 /100% auto;
	min-width: 1300px;
}
.main2{
	width: 1100px;
	padding-bottom: 72px;
}
.submain2 {
	   width:50%;
       float: left;
       font:bold 17.67px/22.83px "宋体";
	   text-align: left;
	   background-color: #fff;
	   color: #666;
}	
.imag1{
	background: url(../img/icon.png) no-repeat -78px -23px;
	height: 130px;
}
.imag2{
	background: url(../img/logo2.png) no-repeat -18px -30px;
	height: 130px;
}

.pa1{
	border-right:solid 3px #f90;
	text-indent: 2em;
	padding: 0px 22px;
}
.pa2{
	text-indent: 2em;
	padding: 0px 22px;
}
.pa2 .date{
	text-align: right;
}
.main2:after{
	content: ".";
	display: block;
	clear: both;
	height: 0px;
	overflow:hidden;
	visibility: hidden;
}
.main3{
	text-align: left;
	background-color: #CCCCCC;
	padding:10px 0px 90px;
}
.main3-box{
	width: 1100px;
}
.imag3{
	background: url(../img/logo3.png) no-repeat 0 0;
	height: 120px; 
}
.main3-box ul{
	padding: 0px 23px;
}
.column1 .extend{
	clear: both;
}
.column1 a:hover{
	color: #f90;
}
.main3-box li {
	font: 27px/34px "幼圆";
	margin-left: 45px;
}
.content{
	width: 219px;
	background-color: #FFFFFF;
	margin: 10px 22px 27px;
	float: left;
}
.discription{
	font-family: tahoma,arial,\5FAE\8F6F\96C5\9ED1;
}
.sub-discription{
	padding:2px 10px 10px;
}
.author-photo{ 
		float: left;
		width: 30px;
		height: 30px;
		margin:6px 10px 0 0;
}
.author-photo img{
	width:100%;
	min-height: 30px;
	}
.title a{
	font-size: 16px;
	line-height: 18px;
	padding: 10px 10px 5px;
	color: #666666;
}
.property{
	padding: 0 10px;
	font-size: 14px;
	color: #999;
}
.author-name a{
	font-size: 12px;
	line-height: 1.5em;
	color: #5ac6ea;
}
.sub-discription .date{
	font-size: 12px;
	color: #666666;
	line-height: 1.5em;
}
.extend{
	font:bold 27px/34px "幼圆";
	text-align: right;
}
