/*CSSreset*/
body,div,ul,li,p,blockquote {
padding: 0;
margin: auto;
}
fieldset,img {
border: 0;
}
a,input{
	text-decoration: none;
	color: black;
	outline: none;
	border: 0px;
}
:focus {
outline: 0;
}
